@charset "UTF-8";
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, table, th, td, form, input, button, textarea, menu {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
  font-weight: normal;
}

html, body, img, iframe {
  border: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, small {
  font-size: 100%;
}

textarea {
  overflow: auto;
  resize: none;
}

label, summary {
  cursor: default;
}

a, button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, em, strong, b {
  font-weight: bold;
}

a, a:hover {
  text-decoration: none;
}

body {
  background: #fff;
}

a {
  color: #000;
}

body {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
  zoom: 1;
}

/*==for IE6/7 Maxthon2==*/
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.position .loading, .position .loading-data, .shadow-detail .loading, .order-detail .loading {
  margin: 0;
  position: absolute;
  left: 50%;
  margin-left: -2.40rem;
  top: 50%;
  margin-top: -0.45rem;
  z-index: 1005;
}

.position .loading-icon, .shadow-detail .loading-icon, .order-detail .loading-icon {
  width: 0.9rem;
  height: 0.9rem;
}

.scroll {
  overflow-x: hidden;
  overflow-y: scroll;
}

.index {
  text-align: center;
  font-size: 0.4rem;
}

.index .shadow, .index .order {
  margin-bottom: 0.4rem;
  width: 4rem;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  color: #fff;
  background-color: #45C01A;
  border-radius: 0.2rem;
  margin: 0.6rem auto;
}

#mapDiv {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.position {
  height: 13.34rem;
}

.position .gfName {
  width: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.position .hide-img {
  display: none;
}

.position .loading {
  display: inline-block;
}

.position .search-wrap {
  position: absolute;
  z-index: 1000;
}

.position .search {
  font-size: 0.32rem;
  height: 0.8rem;
  width: 7.5rem;
  line-height: 0.8rem;
  box-sizing: border-box;
  font-size: 0;
  margin-top: 0.1rem;
}

.position .search .keyWord {
  height: 0.7rem;
  display: inline-block;
  width: 6rem;
  line-height: 0.7rem;
  vertical-align: top;
  outline: none;
  padding-left: 0.2rem;
  border-radius: 0.15rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: 0.2rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.position .search .btn {
  width: 1.1rem;
  line-height: 0.7rem;
  height: 0.7rem;
  border: none;
  background-color: #45C01A;
  height: 0.7rem;
  color: #fff;
  outline: none;
  border-top-right-radius: 0.15rem;
  border-bottom-right-radius: 0.15rem;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  font-size: 0.3rem;
}

.position .ls {
  line-height: 27px;
  padding-left: 7px;
}

.position .prompt, .position .statistics, .position .suggests, .position .lineData, .position .result {
  display: none;
  font-size: 0.32rem;
  border: 1px solid #999999;
  background-color: #f8f8f8;
}

.position .statistics {
  overflow-y: scroll;
  height: 3rem;
}

.position .result {
  line-height: 0.54rem;
  padding-left: 0.2rem;
  font-size: 0.28rem;
  border: 1px solid #f5f5f5;
  background-color: #fff;
  width: 6.7rem;
}

.position .result a {
  display: block;
  border-bottom: 1px solid #f8f8f8;
  height: 0.6rem;
  line-height: 0.6rem;
  padding-left: 0.2rem;
  color: #5b5b5b;
}

.position .result #pageDiv input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #45C01A;
  color: #fff;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 12px;
  transition: background 0.1s;
  outline: none;
}

.position .result #pageDiv input:active {
  background: #039702;
  outline: none;
}

.position .all-result {
  margin-top: -1.6rem;
  width: 6rem;
  border: none;
  margin-left: 0.2rem;
}

.position .aside {
  -webkit-transition: visibility .25s;
  transition: visibility .25s;
  z-index: 3;
  visibility: hidden;
  overflow: hidden;
}

.position .aside.active {
  transition: none;
  visibility: visible;
}

.position .noscroll,
.position .noscroll body {
  overflow: hidden;
}

.position .noscroll body {
  position: relative;
}

.position .marking {
  position: absolute;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  z-index: 1000;
  color: #b5b5b5;
}

.position .marking .mark-left {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.6;
  transition: opacity .25s;
}

.position .condition-search {
  position: absolute;
  right: 0px;
  left: 60px;
  bottom: 0;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  font-size: 0.32rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0.1rem 0 0 0.2rem;
  line-height: 0.5rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}

.position .condition-search .able-scroll {
  margin-top: 0.4rem;
}

.position .condition-search .able-scroll .time:before {
  height: 0;
}

.position .condition-search .time-wrap, .position .condition-search .area-wrap {
  display: inline-block;
  width: 4.3rem;
  vertical-align: top;
}

.position .condition-search .gas {
  display: inline-block;
  width: 0.3rem;
  height: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
}

.position .condition-search .condition {
  display: inline-block;
  padding-bottom: 0.2rem;
  padding-left: 0.2rem;
  color: #000;
  padding-top: 0.1rem;
  width: 1rem;
}

.position .condition-search .del {
  display: inline-block;
  width: 0.64rem;
  height: 0.64rem;
  background: url("../../images/del.png") no-repeat center;
}

.position .condition-search li {
  margin-bottom: 0.3rem;
  padding-bottom: 0.2rem;
  margin-right: 0.2rem;
  border-radius: 0.1rem;
  position: relative;
}

.position .condition-search .small-border {
  display: inline-block;
  height: 0.3rem;
  vertical-align: sub;
}

.position .condition-search input[type="text"], .position .condition-search input[type="date"] {
  width: 2rem;
  height: 0.6rem;
  line-height: 0.6rem;
  border-radius: 0.1rem;
  font-size: 0.28rem;
  text-align: center;
  outline: none;
  border: 1px solid #cdcdcd;
  color: #b5b5b5;
  box-sizing: border-box;
}

.position .condition-search .begin {
  float: left;
}

.position .condition-search .end {
  float: right;
}

.position .condition-search .current-area {
  float: left;
}

.position .condition-search .select-area {
  float: right;
}

.position .condition-search .area .current-area, .position .condition-search .area .select-area {
  border: 1px solid #cdcdcd;
  width: 2rem;
  height: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
  background-color: #fff;
  border-radius: 0.1rem;
  font-size: 0.28rem;
  box-sizing: border-box;
  margin: 0 auto;
  display: inline-block;
  margin-left: 0.04rem;
}

.position .condition-search .area .current-area {
  margin-bottom: 0.2rem;
}

.position .condition-search .area .select-area {
  margin-left: 0.2rem;
}

.position .condition-search .area .on {
  background-color: #45C01A;
  color: #fff;
  border-radius: 0.1rem;
}

.position .condition-search .area .area-name {
  font-size: 0.28rem;
  display: none;
  float: right;
}

.position .condition-search .area .hide-area {
  display: block;
}

.position .condition-search .satellite {
  /* 设置子节点属性 */
}

.position .condition-search .satellite .tree_content {
  font-size: 0.28rem;
}

.position .condition-search .satellite input[type="checkbox"] {
  outline: none;
  width: 0.4rem;
  height: 0.3rem;
  vertical-align: middle;
}

.position .condition-search .satellite .div_inline {
  display: inline;
}

.position .condition-search .satellite .tree_node_child {
  margin-left: 1rem;
}

.position .condition-search .satellite .tree_node_toggle_button {
  width: 0.24rem;
  height: 0.4rem;
}

.position .condition-search .satellite .grandfather {
  font-size: 0.3rem;
  float: left;
  width: 50%;
}

.position .condition-search .satellite .weui-cells {
  background-color: transparent;
  margin-top: 0;
}

.position .condition-search .satellite .weui-cells .tree_node_child1 {
  margin-left: 0.6rem;
}

.position .condition-search .satellite .weui-cells .weui-cell {
  padding: 0 15px 5px 15px;
}

.position .condition-search .satellite .weui-cell:before {
  border-top: 1px solid transparent;
}

.position .condition-search .satellite .weui-cells:after {
  border-bottom-color: transparent;
}

.position .condition-search .satellite .weui-cells:before {
  position: static;
}

.position .condition-search .satellite .weui-cells_checkbox .weui-icon-checked:before {
  font-size: 0.36rem;
}

.position .condition-search .satellite .satellite-wrap {
  float: right;
  width: 75%;
}

.position .condition-search .satellite .satellite-title {
  padding-left: 0.2rem;
  color: #000;
  font-size: 0.32rem;
}

.position .condition-search .cloud {
  border-bottom-color: transparent;
}

.position .condition-search .cloud .weui-slider__handler {
  width: 0.4rem;
  height: 0.4rem;
  margin-top: -0.2rem;
}

.position .condition-search .cloud-title {
  color: #000;
  padding-left: 0.2rem;
}

.position .submit {
  width: 4rem;
  height: 0.7rem;
  line-height: 0.7rem;
  text-align: center;
  margin: 0 auto;
  border-radius: 0.1rem;
  color: #fff;
  background-color: #45C01A;
  transition: background 0.1s;
  outline: none;
  margin-top: 0.8rem;
}

.position .submit:active {
  background: #039702;
}

.position .push {
  right: 0;
  top: 45%;
  width: 0.8rem;
  height: 0.8rem;
  position: fixed;
  background: rgba(69, 192, 26, 0.8);
  border-radius: 50%;
}

.position .push img {
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  margin-left: 0.12rem;
  margin-top: 0.14rem;
}

@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 10px;
  }
}

@-webkit-keyframes mymove /*Safari and Chrome*/ {
  from {
    left: 0px;
  }
  to {
    left: 10px;
  }
}

.shadow-detail {
  font-size: 0.32rem;
}

.shadow-detail ::-webkit-scrollbar {
  display: none;
}

.shadow-detail .item {
  border-bottom: 1px dashed #cdcdcd;
}

.shadow-detail .detail-list {
  position: fixed;
  right: 0;
  top: 30%;
  height: 5.2rem;
  z-index: 1002;
  display: none;
}

.shadow-detail .detail {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1002;
  background-color: #fff;
  opacity: 0.7;
  width: 3.84rem;
  height: 4.4rem;
  padding: 0.2rem;
  line-height: 0.6rem;
  overflow-y: scroll;
  margin-top: -2rem;
  border: 1px dashed #ABC6EF;
  border-radius: 0.1rem;
  color: #000;
  font-size: 0.3rem;
  box-sizing: border-box;
}

.shadow-detail .list {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  right: 0;
  top: 0;
  overflow: hidden;
}

.shadow-detail .list img {
  width: 0.8rem;
  height: 0.8rem;
  opacity: 0.6;
}

.shadow-detail .hide {
  display: none;
}

.shadow-detail .hideSensor {
  width: 2rem;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.order-detail {
  font-size: 0.32rem;
}

.order-detail .bottom-data {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3rem;
  z-index: 1002;
  display: none;
}

.order-detail .up {
  position: absolute;
  left: 50%;
  margin-left: -0.3rem;
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  animation: mymove 1s infinite;
  -webkit-animation: mymove 1s infinite;
  /*Safari and Chrome*/
  background: url("../images/up2.png") no-repeat;
  background-size: 0.6rem;
}

.order-detail .down {
  position: absolute;
  left: 50%;
  margin-left: -0.3rem;
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  animation: mymove 1s infinite;
  -webkit-animation: mymove 1s infinite;
  /*Safari and Chrome*/
  background: url("../images/down2.png") no-repeat;
  background-size: 0.6rem;
}

@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 5px;
  }
}

@-webkit-keyframes mymove {
  /*Safari and Chrome*/
  from {
    top: 0px;
  }
  to {
    top: 5px;
  }
}

.order-detail .detail {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1002;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
  width: 7.5rem;
  height: 2rem;
  padding: 0.2rem;
  line-height: 0.6rem;
  overflow-y: scroll;
}
