<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaofen.mapper.TbBasDataGfAreaMapper">
    <resultMap id="BaseResultMap" type="com.gaofen.model.TbBasDataGfArea">
        <constructor>
            <idArg column="ID" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="DATAID" javaType="java.lang.Long" jdbcType="DECIMAL"/>
            <arg column="CODE" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="NAME" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    ID, DATAID, CODE, NAME
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from TB_BAS_DATAGF_AREA
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TB_BAS_DATAGF_AREA
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.gaofen.model.TbBasDataGfArea">
    insert into TB_BAS_DATAGF_AREA (ID, DATAID, CODE, 
      NAME)
    values (#{id,jdbcType=VARCHAR}, #{dataId,jdbcType=DECIMAL}, #{code,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.gaofen.model.TbBasDataGfArea">
        insert into TB_BAS_DATAGF_AREA
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="dataId != null">
                DATAID,
            </if>
            <if test="code != null">
                CODE,
            </if>
            <if test="name != null">
                NAME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="dataId != null">
                #{dataId,jdbcType=DECIMAL},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.gaofen.model.TbBasDataGfArea">
        update TB_BAS_DATAGF_AREA
        <set>
            <if test="dataId != null">
                DATAID = #{dataId,jdbcType=DECIMAL},
            </if>
            <if test="code != null">
                CODE = #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.gaofen.model.TbBasDataGfArea">
    update TB_BAS_DATAGF_AREA
    set DATAID = #{dataId,jdbcType=DECIMAL},
      CODE = #{code,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
    <select id="getAllDataByCode" resultType="long" parameterType="SearchConditionBean">
        select distinct a.DATAID
        from TB_BAS_DATAGF_AREA a, TB_BAS_SATELLITE_TERM t
        where a.DATAID=t.DATAID
        <if test="code!=null">
            AND a.CODE = #{code}
        </if>
        ${codeSql}
        order by DATAID asc
    </select>

    <select id="getAllDataProvinceOrCity" resultType="long" parameterType="SearchConditionBean">
        select distinct a.DATAID
        from TB_BAS_DATAGF_AREA a, TB_BAS_SATELLITE_TERM t
        where a.DATAID=t.DATAID
        <if test="code!=null">
            AND a.CODE like #{code}
        </if>
        ${codeSql}
        order by DATAID desc
    </select>
</mapper>